---
import Skills from "../Skills.astro";
import TextAnimation from "../animations/TextAnimation.astro";
import IDLink from "../../components/IDLink.astro";
---

<IDLink id="about"/>
<section class="about">
    <h1>About me</h1>

    <TextAnimation>
        <p>
            System administrator/Technical Support Engineer with 7+ years
            experience. Proven problem solving and analytical skills.
            Responsible and careful. Seeking a software developer position to
            grow my career as a professional.
        </p>
    </TextAnimation>

    <h2>Technologies and Skills</h2>
    <Skills />
</section>